nav.formify-notifications-nav {
	float:left;
	width:35%;
	margin:0px;
	padding:0;
	overflow:scroll;
}

nav.formify-notifications-nav ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

nav.formify-notifications-nav ul li {
	margin:0;
	padding:1.5em 5% 1.5em 10%;
	border-bottom:solid 1px #eee;
	cursor:pointer;
}

nav.formify-notifications-nav ul li:hover {
	background-color:#eee;
}

nav.formify-notifications-nav ul li.on {
	background-color:#00cccf;
}

nav.formify-notifications-nav ul li span.subject {
	display:block;
	font-size:1.125em;
	font-weight:600;
	color:#444;
}

nav.formify-notifications-nav ul li.on span.subject {
	color:#fff;
}

nav.formify-notifications-nav ul li span.to {
	font-size:0.9em;
	color:#777;
}

nav.formify-notifications-nav ul li.on span.to {
	color:#fff;
}

article.formify-notification-detail {
	float:right;
	width:60%;
	margin:1em 2.5%;
	transition:all 300ms;
	position:relative;
	padding:0;
}

article.formify-notification-detail.off {
	right:-1500px;
	height:0;
	margin:0;
	padding:0;
}

article.formify-notification-detail.on {
	right:0;
}

article.formify-notification-detail .formify-notification-detail-content {
	border:solid 1px #ddd;
	border-radius:4px;
	padding:0 2% 2em;
	width:96%;
}

article.formify-notification-detail nav {
	border-bottom:solid 1px #ddd;
}

article.formify-notification-detail nav ul {
	margin:0;
	padding:0;
	list-style-type:none;
}

article.formify-notification-detail nav ul li {
	margin:0;
	padding:0;
	display:inline-block;
	font-size:1.75em;
	padding:0.5em 0.25em;
	color:#999;
}

article.formify-notification-detail nav ul.formify-notification-detail-delete {
	float:right;
}

article.formify-notification-detail nav ul.formify-record-notification-delete li i.formify-record-notification-delete:hover {
	color:#ff0000
}

.formify-notification-detail-setting {
	margin:0.75em 0;
}

.formify-notification-detail-setting label {
	float:left;
	width:20%;
}

.formify-notification-input {
	float:left;
	width:80%;
}

article.formify-notification-detail h3 {
	font-size:1.25em;
	color:#006fcd;
}

article.formify-notification-detail p {
	font-size:1em;
	line-height:1.5em;
}