.formify-file-button {
	position:relative;
	overflow:hidden;
	display:inline-block;
}

.formify-file[type="file"] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	opacity: 0;
	-ms-filter: 'alpha(opacity=0)';
	font-size: 200px;
	direction: ltr;
	cursor: pointer;
}

.formify-file-progress, .formify-file-cancel {
	display:none;
}

.formify-file-percent {
	font-weight:bold;
}